@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-poppins);
  --color-primary: #29b3ff;
  --color-secondary: #81eaff;
  --color-tertiary: #fbc00e;
  --color-quarternary: #fdd774;
  --color-black: #151515;
}

:root {
  --background: #ffffff;
  --foreground: #151515;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
